[Desktop Entry]
Name=Add to reading list
Exec=add-to-reading-list "%f"
Icon=
Type=Application
Comment=Add link to document in ~/.readinglist
MimeType=application/octet-stream;
Terminal=false
NoDisplay=true
Categories=Utility;System;
