[Desktop Entry]
Type=Application
Name=Android Studio 2
Comment=Android Studio Integrated Development Environment
Icon=/opt/android-studio-2/bin/studio.png
Exec=/opt/android-studio-2/bin/studio.sh
Terminal=false
Categories=Development;IDE;Java;
