[Desktop Entry]
Exec=copy-realdir "%f";
MimeType=application/octet-stream;inode/directory;
Type=Application
Name=copy-realdir
NoDisplay=true
Categories=Utility;System;
