[Desktop Entry]
Exec=~/.scripts/copy-realpath
MimeType=application/octet-stream;inode/directory;
Type=Application
Name=copy-realpath
NoDisplay=true
Categories=Utility;System;
