[Desktop Entry]
Exec=/usr/bin/display -background white -flatten %F
GenericName=Image Viewer/Editor
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/svg+xml;
Name=display_white_bg
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;
