[Desktop Entry]
Comment[en_AU]=
Comment=
Exec=dolphin %U
GenericName[en_AU]=
GenericName=
Icon=/home/troy/.local/share/icons/dolphin-blue.svg
MimeType=
Name[en_AU]=dolphin
Name=dolphin
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
