[Desktop Entry]
Comment=
Exec=/usr/bin/feh --auto-zoom -.
GenericName=
MimeType=inode/directory;image/jpeg;image/png;image/gif;image/tiff;image/bmp;image/x-icon;image/x-xpixmap;image/x-xbitmap;
Name=feh (autozoom)
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
