[Desktop Entry]
Categories=Network;Internet;
Comment[en_AU]=
Comment=
Comment[en_US]=
Exec=/opt/firefox/firefox --private-window "%U"
GenericName[en_AU]=Private Web Browser
GenericName=Private Web Browser
GenericName[en_US]=Private Web Browser
Icon=/home/troy/.local/share/icons/firefox.svg
MimeType=
Name[en_AU]=Firefox Private
Name=Firefox Private
Name[en_US]=Firefox Private
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
