[Desktop Entry]
Categories=Network;Internet;
Comment[en_AU]=
Comment=
Comment[en_US]=
Exec=/opt/firefox/firefox -new-tab "%U"
GenericName[en_AU]=Web Browser
GenericName=Web Browser
GenericName[en_US]=Web Browser
Icon=/home/troy/.local/share/icons/firefox.svg
MimeType=
Name[en_AU]=Firefox
Name=Firefox
Name[en_US]=Firefox
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
