#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=JDownloader 2 Update & Rescue
Exec=/bin/sh "/opt/jd2/JDownloader2Update"
Icon=/opt/jd2/.install4j/JDownloader2Update.png
Categories=Network;Application;
