[Desktop Entry]
Version=1.0
Type=Application
Name=Nautilus
Comment=Access and organise files
Icon=system-file-manager
Exec=nautilus --new-window %U
NoDisplay=false
NotShowIn=Unity;
Categories=Core;FileManager;GNOME;GTK;Utility;
Keywords=folder;manager;explore;disk;filesystem;
StartupNotify=true
Terminal=false

Actions=Window;

[Desktop Action Window]
Name=Open a New Window
Exec=nautilus --new-window
OnlyShowIn=Unity
