[Desktop Entry]
X-AppInstall-Package=nemo
X-AppInstall-Popcon=1096
X-AppInstall-Section=universe

Name=Files
Comment=Access and organize files
Exec=nemo %U
Icon=folder
Terminal=false
Type=Application
StartupNotify=false
# OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Utility;Core;System;Utilities
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nemo
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=1.8.4



X-Ubuntu-Gettext-Domain=app-install-data
