[Desktop Entry]
Version=1.0
Type=Application
Name=Screenshot (Gnome)
Comment=Save images of your screen or individual windows
Icon=applets-screenshooter
Exec=gnome-screenshot --interactive
NoDisplay=false
NotShowIn=KDE;
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;
Keywords=snapshot;capture;print;screenshot;
StartupNotify=true
Terminal=false
DBusActivatable=True

Actions=screen-shot;window-shot;area-shot;

[Desktop Action screen-shot]
Name=Take a Screenshot of the Whole Screen
Exec=gnome-screenshot
OnlyShowIn=Unity

[Desktop Action window-shot]
Name=Take a Screenshot of the Current Window
Exec=gnome-screenshot -w
OnlyShowIn=Unity

[Desktop Action area-shot]
Name=Take a Screenshot of a Selected Area
Exec=gnome-screenshot -a
OnlyShowIn=Unity
