[Desktop Entry]
Name=qmv
Exec=/usr/bin/qmv -e gvim "%f";
Icon=/home/troy/.local/share/icons
Type=Application
MimeType=application/octet-stream;
NoDisplay=true
Categories=Utility;System;
