[Desktop Entry]
Exec=/home/troy/.scripts/runmaff %F palemoon
MimeType=application/zip;
Name=runmaff (Palemoon)
NoDisplay=true
Type=Application
Categories=Network;Internet;
