[Desktop Entry]
Exec=/home/troy/.scripts/runmaff %F google-chrome
MimeType=application/zip;
Name=runmaff (Google Chrome)
NoDisplay=true
Type=Application
Categories=Network;Internet;
