[Desktop Entry]
Exec=~/.scripts/show-img-geometry "%F"
GenericName=Show Image Geometry
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/svg+xml;
Name=show-image-geometry
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;
