[Desktop Entry]
Version=1.0
Type=Application
Name=Bulk Rename (Thunar)
GenericName=Bulk Rename
Comment=Rename Multiple Files
Icon=Thunar
Exec=/usr/lib/x86_64-linux-gnu/Thunar/ThunarBulkRename %F
NoDisplay=false
Categories=Core;Filesystem;GTK;System;Utility;
StartupNotify=true
Terminal=false
