[Desktop Entry]
Exec=~/.scripts/view-with-subdivided-grid-query-colour-num-subdivisions-viewer %F
GenericName=Image Viewer/Editor with Grid (query size, num-subdivisions, colour, viewer application)
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/svg+xml;
Name=view (grid - query size, num-subdivisions, colour, viewer program)
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Graphics;
