[Desktop Entry]
Categories=Network;X-Internet;WebBrowser;
Exec=/opt/waterfox/waterfox
GenericName[en_AU]=Web Browser
GenericName=Web Browser
GenericName[en_US]=Web Browser
Icon=/opt/waterfox/browser/icons/mozicon128.png
MimeType=
Name[en_AU]=Waterfox
Name=Waterfox
Name[en_US]=Waterfox
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
