[Desktop Entry]
Version=1.0
Type=Application
Name=Task Manager (XFCE4)
GenericName=Task Manager
Comment=Easy to use task manager
Icon=utilities-system-monitor
Exec=xfce4-taskmanager
NoDisplay=false
Categories=System;System-Tools;Utility;
StartupNotify=true
Terminal=false
