[Desktop Entry]
Exec=/usr/bin/q4wine-cli -p "Default"  -d "system"  -i "control" 
Icon=/usr/share/q4wine/icons/control.png
Type=Application
StartupNotify=true
GenericName=control
Name=control
Path=
