[Desktop Entry]
Name=Help
Exec=env WINEPREFIX="/home/troy/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/troy/.wine/dosdevices/c:/users/troy/Start\\ Menu/Programs/Wakan/Help.lnk
Type=Application
StartupNotify=true
Path=/home/troy/.wine/dosdevices/c:/Program Files (x86)/Wakan
Icon=3809_wakan.0
