[Desktop Entry]
Name=Uninstall
Exec=env WINEPREFIX="/home/troy/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/troy/.wine/dosdevices/c:/users/troy/Start\\ Menu/Programs/Wakan/Uninstall.lnk
Type=Application
StartupNotify=true
Path=/home/troy/.wine/dosdevices/c:/Program Files (x86)/Wakan
Icon=7175_uninst.0
