[Desktop Entry]
Name=Uninstall Verbix 2008
Exec=env WINEPREFIX="/home/troy/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/troy/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Verbix\\ 2008/Uninstall\\ Verbix\\ 2008.lnk
Type=Application
StartupNotify=true
Icon=D388_unins000.0
